
.bet-sizes-player {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-size: 1rem;
}

.bet-sizes-street {
    display: flex;
    flex-direction: column;
    border: 2px solid #3F6C51;
    border-radius: 7px;
    padding: 1rem 1rem 1rem 1rem;
}

.bet-sizes-street legend {
    border : 2px solid #3F6C51;
    border-radius: 7px;
    padding: 0.2rem 0.5rem;
}

#bet-sizes-grid {
    display: grid;
    grid-template-columns: 3.5rem 10rem;
    grid-template-rows: auto;
    row-gap: 1.5rem;
    column-gap: 10px;
}

.bet-input {
    background-color: #FFD166;
    border-radius: 5px;
    border: 3px solid #3F6C51;

    font-size: 16px;
    font-weight: bolder;
}

.all-in {
    
}