
#navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-button:hover {
    background-color: #0F1F2E;
}
