
#tree-border {
    width: 100%;
    height: 360px;
    border: 4px solid #3F6C51;
    border-radius: 7px;
    margin-top: 0.5rem;
}

#tree-border legend {
    border : 4px solid #3F6C51;
    border-radius: 7px;
    padding: 0.2rem 0.5rem;
    font-size: 30px;
}

#tree-div {
    padding-left: 20px;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

.tree{
    --spacing : 1rem;
    --radius  : 5px;
  }

.tree li {
    padding-bottom: 0.5rem;
    border-left: 2px solid #b3e099;
    display: block;
    position     : relative;
    padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
    margin-top: 0.5rem;
    margin-left  : calc(var(--radius) - var(--spacing));
    padding-left : 0;
}

.tree ul li:last-child{
    border-color : transparent;
}

.tree ul li::before{
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing) / -2);
    left         : -2px;
    width        : calc(var(--spacing) + 2px);
    height       : calc(var(--spacing) + 1px);
    border       : solid #b3e099;
    border-width : 0 0 2px 2px;
}

.tree summary {
    display : block;
    cursor  : pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker{
  display : none;
}

.tree summary:focus{
    outline : none;
}
  
.tree summary:focus-visible{
    outline : 1px dotted #000;
}

.tree li::after,
.tree summary::before{
    content       : '';
    display       : block;
    position      : absolute;
    top           : calc(var(--spacing) / 1.6 - var(--radius));
    left          : calc(var(--spacing) - var(--radius) - 1px);
    width         : calc(2 * var(--radius));
    height        : calc(2 * var(--radius));
    border-radius : 50%;
    background    : #d14334;
}

