
#weight-input-div {
    display: flex;
    flex-direction: row;
    width: 704px;
    align-items: center;
    gap: 0.5em;
    font-size: 20px;
}

#weight-slider {
    width: 50%;
}

#weight-input {
    text-align: center;
    width: 3rem;
}

#clear {
    width: 100px;
}