
#weight-input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

#weight-slider {
    width: 50%;    
}

#weight-input {
    border-radius: 5px;
    border: 4px solid #d14334;
    font-weight: 1000;
    text-align: center;
    background-color: #b3e099;
}

#clear {
    background-color: #b3e099;
    border-radius: 5px;
    border: 4px solid #d14334;

    font-size: 17px;
    font-weight: bolder;
}