
#build-tree {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    margin: 1rem 0;
}

.build-tree-btn {
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: #FFD166;
    border-radius: 7px;
    border: 5px solid #3F6C51;
    padding: 0.25rem;
}

.build-tree-error {
    border: 2px solid darkred;
    border-radius: 5px;
    background-color: lightcoral;
    color: black;
    font-weight: bolder;
    margin-bottom: 0.25rem;
}